<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!-- Authentication Settings -->
    <authentication mode="Forms">
      <forms loginUrl="~/Admin/Login.aspx" timeout="1" cookieless="UseCookies" slidingExpiration="true" enableCrossAppRedirects="false" protection="All" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <membership defaultProvider="AdminMembershipProvider">
      <providers>
        <clear/>
        <add name="AdminMembershipProvider" type="FormsAuthTest.Application.AdminMembershipProvider, FormsAuthTest.Application, Version=1.0.0.0, Culture=neutral" applicationName="/"
              protection="All" timeout="1" cookieless="UseCookies" maxInvalidPasswordAttempts="2" passwordAttemptWindow="600" />
      </providers>
    </membership>
    <!-- /Authentication Settings -->
  </system.web>
  <!-- Authentication Settings -->
  <location path="Admin/Forms" >
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Default.aspx" >
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Login.aspx" >
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- /Authentication Settings -->
</configuration>
